.baabtra{
  max-width: 100%;
    height: auto;
}
nav {
  background-color: #273b5e;
  height: 100px;
  width: 100%;
  position: fixed;
  font-family: muli;
  top: 0;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.nav_section {
  display: flex;
  margin: 10px;
  font-family: Muli, sans-serif;
}

nav li {
  padding: 20px;
}

nav img {
  height: 70px;
  width: 100px;
}

nav a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
.but1 {
  border-radius: 5px;
  height: 50px;
  width: 150px;
  background-color: #fd1849;
  color: white;
  font-size: 18px;
}

.but1:hover {
  background-color: #273b5e;
}

.maindiv {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: row;
  background-color: #273b5e;
  border: .3px solid white;
  left: 0;


}

.csstext p:hover {
  color: #e2f4ff;
}


.image_front {

  width: 50%;
  padding: 100PX;

}

.logo1 {
  max-width: 100%;
  height: auto;
}

.box2 {
  border-color: black;
  margin-right: 200px;
  border-radius: 20px;
  height: 40px;
  padding: 15px;
  width: 40px;
}

.maindiv_sub {
  width: 70%;
  padding: 100PX;
  margin: 80PX;
}

.box-head {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.box-head2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #273b5e;
  font-size: 15px;
}

.box-head3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  font-size: medium;
}

.line {
  background: #ff1949;
  display: inline-block;
  position: relative;
  bottom: 3px;
  margin: auto 0;
  width: 40px;
  height: 2px;
}

.line2 {
  background: white;
  display: flex;
  bottom: 3px;
  margin: auto 0;
  width: 40px;
  height: 2px;
}
h6 {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(1, 1, 57);
}

p {
  font-family: Muli, sans-serif;
  overflow: hidden;
}

.over_div {
  background-color: #fd1849;
  padding: 50px;
  width: 1000px;
  height: 180px;
  margin-top: 80px;
  position: absolute;
  display: flex;
  z-index: 1;
  top: 700px;
  left: 270px;
}

.oraytext2 {
  display: flex;
  align-items: center;
  font-size: 25px;
  margin: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn2 {
  border-radius: 8px;
  height: 50px;
  width: 180px;
  background-color: rgb(37, 63, 112);
  font-size: 18px;
  color: white;
  padding: 5px;
}

.btn2:hover {
  background-color: #fd1849;
}

.or_image {
  padding: 20PX;
  display: flex;
  align-items: center;
  margin: 30px;
  top: 30px;
}

.or_text1 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 20px;
}

.or_text2 {
  display: flex;
  align-items: end;
  font-size: 30px;
  margin: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  vertical-align: middle;
  border-style: none;
}

.sub {
  width: 250px;
  height: 250px;
  padding-top: 30px;
  margin: 5px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
  border-radius: 10px;
}

.sub:hover {
  transform: translate(0px, -15px);
  box-shadow: 10px 10px 20px lightblue;
}
.sub9 {
  width: 280px;
  height: 320px;
  padding: 20px;
  margin-top: 0px;
  margin-left: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
  border-radius: 10px;
}

.sub9:hover {
  transform: translate(0px, -15px);
  box-shadow: 10px 10px 20px rgb(248, 250, 251);
}

.img {
  height: 90px;
  width: 90px;
  margin-bottom: 10px;
}

.course {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* margin: 10px; */
  padding-top: 100px;
  box-shadow: 0 8px 16px 0 rgba(144, 171, 222, 0.2);
  width: 100%;
}
.course1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  /* margin: 10px; */
  padding-top: 0px;
  box-shadow: 0 8px 16px 0 rgba(144, 171, 222, 0.2);
  width: 100%;
  /* border: .3px solid rgb(223, 31, 31); */

}

h4 {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 0;
  color: #07294d;
}

.main2 {
  display: flex;
  box-shadow: none;
  justify-content: center;
  margin-bottom: 0;
  padding-top: 150px;
  background: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .04);
  border-top: 0;
  margin-right: 0px;
  /* border: .3px solid rgb(229, 12, 12); */


}

.main2 p {
  text-align: center;
  color: #07294d;
  font-family: sans-serif;
  letter-spacing: 1px;
}
.main2 p:hover{
  color: #e2f4ff;
}

.subs:hover {
  background-color: #fd1849;
  color: #e2f4ff;
  transform: translate(0px, -25px);
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
  z-index: 0;
}

.subs {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2)0px 7px 29px 0px;
  border-radius: 5px;
}

p {
  display: block;
  padding-left: 40px;
  font-family: Muli, sans-serif;
  line-height: 28px;
  font-size: 18px;
}

.text {

  font-size: 32px;
  color: rgb(255, 255, 255);
  font-family: Muli, sans-serif;
}

.text2 {

  font-size: 32px;
  color: #273b5e;
  font-family: Muli, sans-serif;


}

.text3 {
  font-size: 20px;
  color: #fd1849;
  font-family: Muli, sans-serif;
}

.text4 {
  font-size: 16px;
  color: #273b5e;
  font-family: Muli, sans-serif;
  margin: 0px 0px 30px;

}

h3 {

  font-family: Quicksand, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  font-size: 32px;
  margin-bottom: 0;
  color: #07294d;
  display: block;
  text-align: center;


}

.desc {
  font-weight: 400px;
  font-size: 16px;
  font-family: Muli, sans-serif;
  line-height: 30px;
  width: 80%;
  color: #fff;
}

.main4 {
  padding: 100px 0;
  display: inline;
  /* border: .3px solid rgb(232, 7, 7); */


}

.sub1 {
  /* width: 100%; */
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  /* margin-right: auto; */
  /* position: relative; */
  margin-left: 0px;
  margin-right: 0px;
  /* border: 5px solid rebeccapurple; */
}
.sub11{
  /* position: relative; */
}

.row {
  text-align: Center;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* margin-right: -15px;
  margin-left: -15px; */

}

.section {
  margin-bottom: 60px;
}

.hiring {
  display: flex;
  justify-content: center;
}

.a2 {
  display: flex;
  justify-content: center;
  /* border: 5px solid rebeccapurple; */
}
.comp {
  padding: 30px;

  text-align: center;
}

.head {
  color: #fd1849;
  font-family: Muli, sans-serif;
}

.thirddiv {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: row;
  border: .3px solid white;
  left: 0;
  margin-right: 0px;


}

.div_sec2 {
  width: 70%;
  padding: 100PX;
  /* border: .3px solid rgb(224, 13, 13); */

}

.img_two {
  width: 50%;
  padding: 100PX;
}

.fourthdiv {
  padding: 60px 0;
  padding-top: 0;
  display: block;

}

.fourth_sub {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border: 5px solid rebeccapurple;

}

.fourth_sec {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
}

.fourth_third {
  display: block;
  box-shadow: none;
  margin-bottom: 0;
  padding: 25px;
  background: #fff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, .04);
  border-top: 0;
  transition: .4s;
  margin: 0 5px;
  border-radius: 5px;
}

.text_h4 {
  font-size: 22px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 0;
  color: #07294d
}
.text_p {
  color: #535967;
  font-family: Muli, sans-serif;
  line-height: 28px;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1rem;
  display: flex;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.fifth_div {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  background-color: #fd1849;
  border: .3px solid red;
  left: 0;
}
.fifth_first {
  display: flex;
  margin: 150px;
}
.honour_class p {
  display: block;
  padding-left: 100px;
  padding-top: 30px;
  padding-right: 100px;
  padding-bottom: 80px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
  color: #07294d
}
.honour_class2 p {
  /* display: block; */
  /* padding-left: 500px; */
  padding-top: 30px;
  /* padding-right: 100px; */
  padding-bottom: 80px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
  color: #07294d
}
.honour2 {
  display: flex;
  justify-content: center;
  padding: 30px;
  text-align: center;
  border: 5px solid blue;
}
.career {
  /* width: 100%; */
  /* padding-right: 15px; */
  /* padding-left: 15px; */
  /* margin-right: auto; */
  /* margin-left: auto; */
  margin-top: 0px;
}
.career-logo {
  transition: .4s;
  cursor: pointer;
  border: 1px solid #e2f4ff;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.btn3 {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
}
.logo1 {
  padding: 20px;
}
.blog_sub {
  display: flex;
  justify-content: center;
  margin-left: 60px;
}
.blog1 {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 420px;
  margin-right: 40px;
  justify-content: center !important;
  border: 5px solid red;
  border-radius: 20px;
}
.blog2 {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 420px;
  margin-right: 40px;
  justify-content: center !important;
  border: 5px solid red;
}
.blog3 {
  display: flex;
  flex-wrap: wrap;
  height: 450px;
  width: 420px;
  margin-right: 40px;
  justify-content: center !important;
  border: 5px solid red;
  border-radius: 20px;
}
.blog1_sub {
  height: 50%;
  width: 100%;
  border: 5px solid red;
  margin: 0;
}
.blog2_sub {
  height: 40%;
  width: 100%;
  border: 5px solid red;
  margin: 0;
}
.blog3_sub {
  height: 20%;
  width: 100%;
  border: 5px solid red;
  margin: 0;
}
.about1{
  display: flex;
  justify-content: center;
  height: 550px;
  width: 100%;
  background-color: rgba(15, 8, 8, 0.942);
}
.abt1{
  height: 300px;
  width: 400px;
  margin: 50px;
}
.abt1 p{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  letter-spacing: 2px;
  font-size: 15px;
  font-family: Quicksand,sans-serif;
}
.abt1 p:hover{
  color: #fd1849;
}
.abt1 h5{
  color: #e2f4ff;
  display: block;
  font-size: 28px;
  padding-left: 40px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
}
.abt2{
  height: 300px;
  width: 160px;
  margin: 50px;
}
.abt2 p{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  letter-spacing: 2px;
  font-weight: 50;
  font-size: 15px;
  font-family: Muli, sans-serif;
}
.abt2 p:hover{
  color: #fd1849;
}
.abt2 h5{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  padding-left: 40px;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
  text-align: cen;
}
.abt3{
  height: 300px;
  width: 150px;
  margin: 50px;
}
.abt3 p{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  letter-spacing: 2px;
  font-size: 15px;

  font-family: Muli, sans-serif;
}
.abt3 p:hover{
  color: #fd1849;
}
.abt3 h5{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  padding-left: 40px;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
  text-align: cen;
}
.abt4{
  height: 300px;
  width: 350px;
  margin: 50px;
}
.abt4 h5{
  color: #e2f4ff;
  display: block;
  padding-right: 0px;
  padding-left: 40px;
  font-size: 28px;
  letter-spacing: 2px;
  font-family: Muli, sans-serif;
  text-align: cen;
}
.abt4 ul{
  list-style-type: none;
}
.abt4 li{
  margin: 40px;
  color: #fd1849;
}
.abt4 li:hover{
  color: #273b5e;
}
.social{
  margin-top: 30px;
  padding: 10px;
    list-style: none;
    color: white;
    display: flex;
    justify-content: center;
}
.social1{
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin: 5px;
  display: flex;
  justify-content: center;

  background-color: #fff;
}

